@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  //padding: 20px;
}

//定制内容布局
.layout-content {
  margin: 24px;
}

//定制搜索栏和弹窗的样式
.table-page-search-wrapper, .base-dialog {

  .el-select {
    width: 100%;
  }

  .el-date-editor {
    width: 100%;
  }

  .el-input-number {
    width: 100%;
  }

  .table-page-search-submitButtons {
    margin-top: -5px; /*与左侧输入框对齐*/
    margin-bottom: 20px;
  }

  .el-dialog__body {
    padding: 30px 40px;
  }
}

//弹窗宽度
.dialog-col-1 {
  max-width: 600px;
}

.dialog-col-2 {
  width: 800px;
}

.dialog-col-3 {
  width: 1100px;
}

.dialog-col-4 {
  width: 1400px;
}
